# This workflow will perform a build and push of
# the image whenever there a code merge happens.
name: Build and Push Image
on:
  push:
    branches:
      - main
  schedule:
    - cron: "0 0 * * *" # every day at midnight

env:
  IMAGE_NAME: openshift-pipelines/must-gather
  IMAGE_REGISTRY: quay.io
  IMAGE_TAGS: "4.8 latest"

jobs:
  build-and-push:
    name: Build and push must-gather image to Quay.io
    runs-on: ubuntu-latest
    steps:
      # Checkout must-gather github repository
      - name: Checkout must-gather repo
        uses: actions/checkout@v2

      # Build image using Buildah action
      - name: Build Image
        id: build_image
        uses: redhat-actions/buildah-build@v2
        with:
          image: ${{ env.IMAGE_REGISTRY}}/${{ env.IMAGE_NAME }}
          tags: ${{ env.IMAGE_TAGS }}
          dockerfiles: ./Dockerfile

      # Push the image to Quay.io (Image Registry)
      - name: Push To Quay
        uses: redhat-actions/push-to-registry@v2
        id: push
        with:
          image: ${{ steps.build_image.outputs.image }}
          tags: ${{ steps.build_image.outputs.tags }}
          registry: ${{ env.IMAGE_REGISTRY }}/${{ secrets.REGISTRY_REPO }}
          username: ${{ secrets.QUAY_REGISTRY_USERNAME }}
          password: ${{ secrets.QUAY_REGISTRY_PASSWORD }}
      - name: Echo outputs
        run: |
          echo "${{ toJSON(steps.push.outputs) }}"
